body {
  /* background-color: #F5F5F5; */
  background-color: #EEE;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
  overflow-y: scroll;
}

a {
  color: #1B1B1B;
}

a.link {
  color: #0187C5;
}

a:hover {
  color: #0187C5;
  text-decoration: underline;
}

thead {
  cursor: pointer;
}

caption {
  text-align: left;
}

#user {
  width: auto;
}

.close {
  line-height:15px;
}

.tooltip-arrow {
  border-right-color: #05C !important;
}

.tooltip-inner {
  background-color: #05C;
}

.center {
  text-align: center;
}

textarea[readonly] {
  cursor: auto;
  width: 80%;
}

#flags {
  display: none;
}

#logo-container {
  background-color: #000;
  margin:20px 0;
  overflow:hidden;
  position:relative;
}

#logo-container .logo-bg {
  display:none;
  float:left;
  position:relative;
}

#logo-container #logo {
  left:0px;
  position:absolute;
  top:0px;
}

#footer {
  border-top: 1px solid #DDD;
  margin-top:35px;
  padding:1em 0em 1em 0em;
}

.container {
  background-color: #FFF;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#main {
  margin-top:20px;
  margin-bottom:20px;
}

/* Our custom responsive css */
.share-row {
  height: 24px;
}

@media (max-width: 767px) {
  #main #logo-container #logo {
    height: 45px;
    width: 450px;
  }

  #main #logo-container .logo-bg {
    height: 45px;
    width: 45px;
  }

  #main #logo-container {
    height: 45px;
    width: 450px;
  }

  body {
    background-color: #FFF !important;
  }

  .share-row {
    height: 72px;
  }

  /* makes the nav-tabs into nav-stacked */
  .nav-tabs > li {
    float: none;
  }

  .nav-tabs > li > a {
    margin-right: 0;
  }

  .nav-tabs {
    border-bottom: 0;
  }

  .nav-tabs > li > a {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }

  .nav-tabs > li:first-child > a {
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
  }

  .nav-tabs > li:last-child > a {
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
  }

  .nav-tabs > li > a:hover {
    z-index: 2;
    border-color: #ddd;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #main #logo-container #logo {
    height: 60px;
    width: 600px;
  }

  #main #logo-container .logo-bg {
    height: 60px;
    width: 60px;
  }

  #main #logo-container {
    height: 60px;
    width: 600px;
  }

  .container {
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 480px) {
  #main #logo-container #logo {
    height: 26px;
    width: 260px;
  }

  #main #logo-container .logo-bg {
    height: 26px;
    width: 26px;
  }

  #main #logo-container {
    height: 26px;
    width: 260px;
  }
}

@media (min-width: 980px) {
  #main #logo-container #logo {
    height: 78px;
    width: 780px;
  }

  #main #logo-container .logo-bg {
    height: 78px;
    width: 78px;
  }

  #main #logo-container {
    height: 78px;
    width: 780px;
  }

  .container {
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  }
}

@media (min-width: 1200px) {
  #main #logo-container #logo {
    height: 97px;
    width: 970px;
  }

  #main #logo-container .logo-bg {
    height: 97px;
    width: 97px;
  }

  #main #logo-container {
    height: 97px;
    width: 970px;
  }
}

/* Bootstrap fixes...? */
/* with bootstrap 2.0.4 it enlarges the donate button */
input {
  width: auto;
}

select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
