@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-color: #EEE;
  overflow-y: scroll;
}

body,
input,
button,
select,
textarea {
  font-family: 'Ubuntu', Tahoma, sans-serif;
}

a {
  color: #1B1B1B;
}

a.link {
  color: #0187C5;
}

a:hover {
  color: #0187C5;
  text-decoration: underline;
}

a.close {
  font-size: 24px;
}

thead {
  cursor: pointer;
}

caption {
  text-align: left;
}

#user {
  width: 135px;
}

.tooltip-arrow {
  border-right-color: #05C !important;
}

.tooltip-inner {
  background-color: #05C;
}

.center {
  text-align: center;
}

textarea[readonly] {
  cursor: auto;
  width: 80%;
}

#flags {
  display: none;
}

#logo-container {
  background-color: #000;
  margin:20px 0;
  overflow:hidden;
  position:relative;
  line-height: 0;
}

#logo-container .logo-bg {
  display:none;
  position: absolute;
  width: 10%;
}

#logo-container a {
  position: relative;
}

#logo-container #logo {
  width: 100%;
  vertical-align: top;
}

#footer {
  border-top: 1px solid #DDD;
  margin-top:35px;
  padding:1em 0em 1em 0em;
}

.container {
  background-color: #FFF;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#main {
  margin-top:20px;
  margin-bottom:20px;
}

.nav-tabs > .active > a {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1) inset;
}

.alert {
  margin-bottom: 10px;
}

/* Our custom responsive css */
.share-row {
  height: 26px;
}

@media (max-width: 767px) {
  body {
    background-color: #FFF;
  }

  .share-row {
    height: 82px;
  }

  /* makes the nav-tabs into nav-stacked */
  .nav-tabs > li {
    float: none;
  }

  .nav-tabs > li > a {
    margin-right: 0;
  }

  .nav-tabs {
    border-bottom: 0;
  }

  .nav-tabs > li > a {
    border: 1px solid #ddd !important;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }

  .nav-tabs > li:first-child > a {
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
  }

  .nav-tabs > li:last-child > a {
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
  }

  .nav-tabs > li > a:hover {
    z-index: 2;
    border-color: #ddd;
  }
}

@media (min-width: 768px) {
  .container {
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  }
}

/* Bootstrap 2.1.1 tweak */
select {
	padding-right: 4px;
}