body {
  /* background-color: #F5F5F5; */
  background-color: #EEE;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
  overflow-y: scroll;
}

a {
  color: #1B1B1B;
}

a.link {
  color: #0187C5;
}

a:hover {
  color: #0187C5;
  text-decoration: underline;
}

thead {
  cursor: pointer;
}

caption {
  text-align: left;
}

#user {
  width: auto;
}

.close {
  line-height:15px;
}

.tooltip-arrow {
  border-right-color: #05C !important;
}

.tooltip-inner {
  background-color: #05C;
}

.center {
  text-align: center;
}

textarea[readonly] {
  cursor: auto;
  width: 80%;
}

#flags {
  display: none;
}

#logo-container {
  background-color:#000000;
  margin:20px 0;
  overflow:hidden;
  position:relative;
}

#logo-container .logo-bg {
  display:none;
  float:left;
  position:relative;
}

#logo-container #logo {
  left:0px;
  position:absolute;
  top:0px;
}

#footer {
  border-top:1px solid #DDDDDD;
  margin-top:35px;
  padding:1em 0em 1em 0em;
}

.container {
  background-color: #FFF;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  /*-moz-border-radius: 90px 10px / 10px 90px;
  border-radius: 90px 10px / 10px 90px;*/
}

#main {
  margin-top:20px;
  margin-bottom:20px;
}

/* Bootstrap fixes...? */
/* with bootstrap 2.0.4 it enlarges the donate button */
input {
  width: auto;
}

select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
