# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
bower_components

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
*~
~*
Thumbs.db
*thumbs.db
.DS_Store
*.swp
desktop.ini
_resources
beta/
.sublime*
