@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* line-height: 1; */

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spotify:before {
	content: "\e600";
}
.icon-lastfm:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-comment:before {
	content: "\e604";
}
.icon-music:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-remove:before {
	content: "\e607";
}
.icon-chevron-down:before {
	content: "\e608";
}
.icon-chevron-up:before {
	content: "\e609";
}
.icon-arrow-left:before {
	content: "\e60a";
}
.icon-arrow-right:before {
	content: "\e60b";
}
.icon-search:before {
	content: "\e60c";
}
