@import "variables";

.alert {
	// bottom: ($grid-gutter-width-base / 2);
	bottom: -4rem;
	// left: ($grid-gutter-width-base / 2);
	left: 0;
	margin: 0;
	position: fixed;
	// right: ($grid-gutter-width-base / 2);
	right: 0;
	-webkit-transition: bottom 0.3s;
	transition: bottom 0.3s;

	&.true {
		bottom: ($grid-gutter-width-base / 2);
	}

	.fa-times {
		margin: 0;
	}
}


