@import "variables";

header h1 {
	color: transparent;
	font-size: 18vw;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.9);

	@include media-breakpoint-up(sm) {
		font-size: 14vw;
	}
}

// h1 {

.n {
	letter-spacing: -.09em;
}

.i,
.o {
	letter-spacing: -.07em;
}

.c,
.t,
.f {
	letter-spacing: -.04em;
}

.h {
	letter-spacing: -.06em;
}

.l {
	letter-spacing: -.03em;
}

.a,
.s {
	letter-spacing: -.05em;
}

.d {
	letter-spacing: -.11em;
}

// }
